$color1: #50514f; //rgba(80, 81, 79, 100)
$color2: #f25f5c; //rgba(242, 95, 92, 100)
$color3: #ffe066; //rgba(255, 224, 102, 100)
$color4: #247ba0; //rgba(36, 123, 160, 100)
$color5: #70c1b3; //rgba(112, 193, 179, 100)

//$brand-primary:         $color1;
//$brand-success:         $color5 !default;
//$brand-info:            $color4 !default;
//$brand-warning:         $color3 !default;
//$brand-danger:          $color2 !default;
